.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 20px 15px 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.ol-popup-closer:hover {
    text-decoration: none;
    text-decoration: none;
}

#feature-info-popup{
    background: rgba(0, 0, 0, .85);
    color: white
}

#feature-info-popup::after{
    border-top-color: rgba(0, 0, 0, .85);
}

#feature-info-popup-content{
    /*    width: -webkit-max-content;
        width: -moz-max-content;
        width: -ms-max-content;
        width: -o-max-content;
        width: max-content;
        max-width: 550px;*/
    width: 450px
}

/*GRÁFICA DE COLORES DE TIPOS DE SUELO*/
#feature-info-popup-content #porcientos-tipo-suelo{
    position: relative;
}

#feature-info-popup-content #porcientos-tipo-suelo div.category-percent-colorbar {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default
}

#feature-info-popup-content #porcientos-tipo-suelo div.category-percent-colorbar.I{
    background: #ee9144
}

#feature-info-popup-content #porcientos-tipo-suelo div.category-percent-colorbar.II{
    background: #9ba011
}

#feature-info-popup-content #porcientos-tipo-suelo div.category-percent-colorbar.III{
    background: #1fb07b
}

#feature-info-popup-content #porcientos-tipo-suelo div.category-percent-colorbar.IV{
    background: #a840b3
}
/*GRÁFICA DE COLORES DE TIPOS DE SUELO - FIN*/

/*ACCORDION*/
#feature-info-popup-content div.card-header{
    padding: 0;
    background: white
}

#feature-info-popup-content div.card-body{
    min-height: 100%;
    padding: .5rem;
    background: rgb(218, 218, 218);
}

#feature-info-popup-content #collapse-1.collapse,
#feature-info-popup-content #collapse-1.collapsing{
    color: black
}

#feature-info-popup-content div.card-header button.btn-link{
    padding: 0 .5rem
}

#feature-info-popup th, #feature-info-popup td {
    padding: 0 .2rem;
    border: none;
    vertical-align: middle
}
/*ACCORDION - FIN*/

/*#parcela-suelo-popup-content*/
#parcela-suelo-popup-content div.accordion div.opciones{
    border-top: 2px solid rgb(99, 36, 36);
}

#parcela-suelo-popup-content i.fa{
    width: 12px
}

#parcela-suelo-popup-content #tabla-acciones tr.hecho{
    color: green;
    text-decoration-line: line-through;
}

#parcela-suelo-popup-content #tabla-acciones i.fa{
    cursor: default;
    text-align: center
}

#parcela-suelo-popup-content #tabla-acciones i.fa-remove{
    color: rgb(213, 36, 36);
}

#parcela-suelo-popup-content div.collapse ,
#parcela-suelo-popup-content div.collapsing {
    max-height: 250px;
    overflow-y: auto
}

#parcela-suelo-popup-content #acciones-disponibles {
    padding: 0rem .75rem;
    height: 1.8rem;
}

#parcela-suelo-popup-content div#nueva-accion-contenedor {
    background: lightblue;
    padding: 5px;
}

#parcela-suelo-popup-content #nueva-accion{
    padding: 0 10px
}
/*#parcela-suelo-popup-content - FIN*/