<div id="parcela-suelo-popup-content" style="display: none">
    <ul class="atributos"></ul>
    <div class="accordion" style="display: none">
        <div class="card">
            <div class="card-header" id="acciones-accordion-heading">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#acciones-accordion-body" aria-expanded="false" aria-controls="acciones-accordion-body"></button>
                </h5>
            </div>
            <div id="acciones-accordion-body" class="collapse" aria-labelledby="acciones-accordion-heading" data-parent="#acciones-accordion">
                <div class="card-body">
                    <table id="tabla-acciones" class="table table-hover">
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th><i id="marcar-todas" class="fa fa-square-o" data-toggle="tooltip" title="Marcar todas"></i></th>
                                    {#                                <th><i id="eliminar-todas" class="fa fa-remove" data-toggle="tooltip" title="Eliminar todas"></i></th>#}
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row no-gutters opciones">
                        <div class="col-6">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <span class="badge" style="color: green;"><i class="fa fa-check-square"></i>Hecho</span>
                                    <span class="badge"><i class="fa fa-square-o"></i>Por hacer</span>
                                </div>
                                <div class="col-6">
                                    <span style="color: rgb(213, 36, 36);" class="badge"><i class="fa fa-remove"></i>Eliminar</span> 
                                    <span style="color: #818181;" class="badge"><i class="fa fa-remove"></i>Mantener</span>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: right;" class="col-6">
                            <button class="btn btn-success" disabled="disabled">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
